<div class="container">
    <div class="row">
<form #productForm="ngForm" (ngSubmit)="handleFormSubmit(productForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="font-size: 18px; font-weight:bold; color: rgb(109, 17, 17);">Email address</label>
      <input 
      type="email" 
      class="form-control" 
      id="exampleInputEmail1" 
      aria-describedby="emailHelp"
      placeholder="Enter email"
      name="email"
      ngModel
      required
      email
      #email="ngModel"
      >
      <div *ngIf="email.touched && email.invalid" id="emailHelp">
        <small class="text-danger" *ngIf="email.errors?.['required']">This field is required</small>
        <small class="text-danger" *ngIf="email.errors?.['email']">Enter email address</small>

     </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="font-size: 18px; font-weight:bold; color: rgb(109, 17, 17);">Password</label>
      <input 
      type="password" 
      class="form-control" 
      id="exampleInputPassword1"
      placeholder="Enter password"
      name="pass"
      ngModel
      required
      #pass="ngModel"
      >
      <div *ngIf="pass.touched && pass.invalid" id="passHelp">
        <small class="text-danger" *ngIf="pass.errors?.['required']">This field is required</small>
     </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> <br> <br>
    <h5>Don't have account ? <a [routerLink]="['/register']" style="color:brown;">Register</a></h5>
  </form>
</div>
</div>