<div class="container-fluid">
    <div class="row" style="justify-content:space-between; border: 1px solid rgb(65, 62, 62);
     box-shadow:4px 4px 8px rgb(65, 62, 62); background-color: rgb(183, 190, 218);">
        <div class="col-4">
            <a routerLink= "/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><h1>Products</h1> </a>
        </div>
        <div class="col-4" style="display: flex; justify-content:center">
            <a routerLink="cart" style="margin-top:3%;">
                <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> {{counter}} </a>
        </div>
        <div class="col-4" style="display: flex; justify-content: flex-end;">
            <a routerLink="register" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <h1>Register</h1></a> &nbsp; &nbsp;  &nbsp;
            <a routerLink="login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <h1>Login</h1></a>
        </div>
    </div>
    <br>
    <br>
</div>